* {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}

.hidden {
  display: none;
}

body {
  font-size: 30px;
  position: static;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  margin: auto;
  background-color: #274ba7;
}

header {
  text-align: center;
  padding: 5px;
  margin: auto;
}

h1 {
  text-align: center;
}

.baner {
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 0px;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  transition: all 0.4s ease-in-out;
}

.socials li {
  margin: 0 10px;
}

.facebook:hover {
  transform: translateY(-10px);
}
.instagram:hover {
  transform: translateY(-10px);
}
.linkedin:hover {
  transform: translateY(-10px);
}
.whatsapp:hover {
  transform: translateY(-10px);
}
.carrinho:hover {
  transform: translateY(-10px);
}

article {
  margin: auto;
  margin-top: 0px;
  padding-bottom: 0px;
  max-width: 550px;
  border: none;
  text-align: justify;
  flex-grow: 1;
}

.heart {
  width: 200px;
  height: 200px;
  position: relative;
  margin: auto;
  margin-top: -350px;
  margin-bottom: 0px;
  background: red;
  animation: pulse 1s infinite alternate;
  z-index: -1;
}

.square {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  background: red;
}

.top {
  top: 100px;
}

.left {
  left: 100px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9) rotate(-135deg);
  }
  100% {
    transform: scale(1.1) rotate(-135deg);
  }
}

@media screen and (max-width: 980px) {
  .head {
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 5px;
  }

  .head .socials {
    padding-left: 25px;
    border: none;
    text-align: center;
    border-radius: 5px;
  }
}

@media screen and (max-width: 750px) {
  .head {
    width: 600px;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 0px;
  }

  .head .socials {
    width: 600px;
    padding-left: 5px;
    border: none;
    text-align: center;
    border-radius: 5px;
  }
}

@media screen and (max-width: 414px) {
  .head {
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 0px;
  }

  .head .socials {
    width: 600px;
    padding-left: 5px;
    border: none;
    text-align: center;
    border-radius: 5px;
  }
}

@media screen and (max-width: 375px) {
  .head {
    width: 600px;;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 0px;
  }

  .head .socials {
    padding-left: 5px;
    border: none;
    text-align: center;
    border-radius: 5px;
  }
}
