* {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
}
body {
  font-size: 30px;
  background-color: #212a60;
  position:static;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  padding: 5px;
  margin: auto;
}

h1 {
  text-align: center;
}

.baner {
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 0px;
}

.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
}
article {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  max-width: 550px;
  border: none;
  text-align: justify;
}

@media screen and (max-width: 980px) {
  .baner {
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 50px;
  }
  .social {
    padding-left: 25px;
    border: none;
    text-align: center;
    border-radius: 5px;
  }
}
@media screen and (max-width: 530px) {
  .baner {
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 0px;
  }
  .social {
    padding-left: 5px;
    border: none;
    text-align: center;
    border-radius: 5px;
  }
}
